/*
 * This file is part of GumTree.
 *
 * GumTree is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * GumTree is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with GumTree.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Copyright 2011-2015 Jean-Rémy Falleri <jr.falleri@gmail.com>
 * Copyright 2011-2015 Floréal Morandat <florealm@gmail.com>
 */

.add {
	border: 1px solid black;
	border: 1px solid rgba(86, 127, 23, 1.0);
	background-color: greenyellow;
	background-color: rgba(230, 255, 192, 1.0);
	/*background-color: rgba(173, 255, 47, 0.5);*/
}

.del {
	border: 1px solid black;
	border: 1px solid rgba(127, 48, 35, 1.0);
	background-color: tomato;
	background-color: rgba(255, 208, 188, 1.0);
	/*background-color: rgba(255, 99, 71, 0.5);*/
}

.mv {
	border: 1px solid black;
	/*border: 1px solid rgba(86, 108, 115, 1.0);*/
	/*background-color: lightblue;*/
	/*background-color: rgba(173, 216, 230, 0.5);*/
	border: 1px solid rgba(128, 128, 128, 1.0);
	background-color: #c0c0c0;
	background-color: rgba(208, 208, 208, 1.0);
	/*background-color: rgba(192, 192, 192, 0.5);*/
}

.upd {
	border: 1px solid black;
	border: 1px solid rgba(127, 107, 0, 1.0);
	background-color: gold;
	font-weight: bold;
	background-color: rgba(255, 243, 178, 1.0);
	/*background-color: rgba(255, 215, 0, 0.5);*/
}

.cupd {
	font-weight: normal;
	color: grey;
}

.selected {
	background-color: silver;	
}

.marker {
	margin: 0;
	padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
} 

.scrollable {
	overflow: scroll;
}

.no-overflow {
	overflow: hidden;
}

body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

.max-height {
	height: 100%;
}

.pre {
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
	color: black;
	font-family: monospace;
}
